.TextInfo {
  font-size: 12px !important;
  font-weight: 600 !important;
}

.LoginContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logoLogin {
  width: auto;
  height: 120px;
}

.login {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.inputEmail {
  padding: 0.8rem;
  width: 60%;
  border-radius: 4px;
  border: 1px solid #840040;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* .login button {
  width: 30%;
  margin-top: 2.5%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 600;
  background: #840040;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
} */

.mdp {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: start;
  margin-top: 2%;
  margin-bottom: 1%;
  padding: 0.8rem;
  width: 23%;
}

.mdpInput {
  margin-right: 5%;
}

.mdp p {
  font-size: 0.5rem;
}

.ContainerLoginImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #840040;
  width: 85%;
  height: 100vh;
}

.ImageLogin {
  width: auto;
  height: 650px;
  margin-top: 12%;
  margin-left: 15%;
}

.loading-container-Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.loading-container-Login p {
  margin-top: 5%;
  font-size: 12px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #840040;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-right: 50%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
